* {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
  border-bottom: 3px solid #02A0EA;
  color: #02A0EA;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#controls, table {
  width: 960px;
  margin: 0 auto;
}

#controls {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}

#controls input {
  width: 456px;
  padding: 12px 12px;
  border: 1px solid #e2e2e2;
  font-size: 16px;

}

#controls label {
  font-size: 24px;

}

#controls input:focus { outline: 1px solid #02A0EA; }

#controls div {
  display: flex;
  gap: 16px;
}

#controls button {
  padding: 12px 8px;
  border: 1px solid #e2e2e2;
  color: white;
  font-size: 16px;
  font-weight: bold;

}

#controls button:first-child { background-color: #02A0EA; }
#controls button:last-child { background-color: #9CD23E; }



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #effaee;
  }
  
  td, th {
    border: 1px solid #e2e2e2;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #eef5fa;
  }